.m-signature-pad {
  position: relative;
  font-size: 10px;
  width: 100%;
  height: 400px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px; }

.m-signature-pad:before, .m-signature-pad:after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 40%;
  height: 10px;
  left: 20px;
  bottom: 10px;
  background: transparent;
  -webkit-transform: skew(-3deg) rotate(-3deg);
  -moz-transform: skew(-3deg) rotate(-3deg);
  -ms-transform: skew(-3deg) rotate(-3deg);
  -o-transform: skew(-3deg) rotate(-3deg);
  transform: skew(-3deg) rotate(-3deg);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); }

.m-signature-pad:after {
  left: auto;
  right: 20px;
  -webkit-transform: skew(3deg) rotate(3deg);
  -moz-transform: skew(3deg) rotate(3deg);
  -ms-transform: skew(3deg) rotate(3deg);
  -o-transform: skew(3deg) rotate(3deg);
  transform: skew(3deg) rotate(3deg); }

.m-signature-pad--body {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 88px;
  border: 1px solid #f4f4f4; }

.m-signature-pad--body
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 200px;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset; }

.m-signature-pad--footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 40px; }

.m-signature-pad--footer
.description {
  color: #6d6b71;
  text-align: center;
  font-size: 2em; }

.m-signature-pad--footer
.button {
  position: absolute;
  bottom: 0; }

.m-signature-pad--footer
.button.save {
  right: 0; }

@media screen and (max-width: 1024px) {
  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 300px;
    margin: 5%; }
  #github {
    display: none; } }

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .m-signature-pad {
    margin: 10%; } }

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px; }
  .m-signature-pad--footer {
    left: 20px;
    right: 20px;
    bottom: 4px;
    height: 28px; }
  .m-signature-pad--footer
.description {
    font-size: 1em; } }

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0; }

header.main {
  margin: 100px 0; }

#header {
  margin: 100px;
}

#main {
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 50px; }
  #main h1 {
    text-align: center; }

.brand {
  text-align: center; }
  .brand .icon-logo {
    font-size: 10rem; }

.section {
  padding: 10px 0 20px; }

h2 {
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc; }

h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; }

.top-space {
  padding-top: 40px; }

.top-space-small {
  padding-top: 20px; }

form {
  display: block;
  max-width: 680px;
  margin: 0 auto 50px; }
  form input:focus {
    outline: none; }
  form .input {
    margin: 20px 0; }
    form .input label {
      margin-bottom: 10px;
      display: block;
      text-transform: uppercase;
      font-weight: bold; }
    form .input input {
      display: block;
      padding: 10px;
      width: 100%;
      border: solid 1px #6d6b71;
      font-size: 18px; }
    form .input.error label {
      color: #E84624; }
    form .input.error input {
      border-color: #E84624; }
    form .input.error .error {
      display: block; }
    form .input .error {
      color: #E84624;
      padding: 20px 10px;
      font-weight: bold;
      margin-top: 10px;
      background-color: rgba(232, 70, 36, 0.2);
      display: none; }
  form .input-check {
    padding: 10px 15px;
    font-weight: bold;
    background-color: rgba(242, 101, 34, 0.8);
    height: 24px;
    color: white;
    cursor: pointer; }
    form .input-check input {
      margin-right: 10px; }
    form .input-check label {
      position: relative;
      top: 2px; }

.center {
  text-align: center; }

#error {
  color: #E84624;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: rgba(232, 70, 36, 0.2);
  display: none; }
  #error.show {
    display: block; }
  #error a {
    color: #E84624;
    text-decoration: none; }
    #error a:hover {
      text-decoration: #c43315; }

#submit-button {
  background: #F26522;
  font-size: 20px;
  border: none;
  padding: 20px;
  width: 100%;
  text-transform: uppercase;
  color: white; }

.iagree {
  padding: 10px;
  background: #F26522;
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer; }
  .iagree.accepted {
    background: #eee;
    color: #6d6b71; }
  .iagree.error {
    background: #E84624; }
  .iagree input {
    position: relative;
    top: -3px;
    margin-right: 10px; }

button {
  display: block;
  border: none;
  background-color: #F26522;
  color: white;
  padding: 20px;
  cursor: pointer; }

#submit-button {
  cursor: pointer; }

@font-face {
  font-family: 'icons';
  src: url("/icons.eot?24kygq");
  src: url("/icons.eot?24kygq#iefix") format("embedded-opentype"), url("/icons.ttf?24kygq") format("truetype"), url("/icons.woff?24kygq") format("woff"), url("/icons.svg?24kygq#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-triangle:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-logo:before {
  content: "\e903"; }

.icon-lines:before {
  content: "\e904"; }

.icon-instagram:before {
  content: "\e905"; }

.icon-coffee:before {
  content: "\e906"; }

.icon-yoga:before {
  content: "\e907"; }

.icon-physio:before {
  content: "\e908"; }

.icon-mountain:before {
  content: "\e909"; }

.icon-left:before {
  content: "\e90a"; }

.icon-up:before {
  content: "\e90b"; }

.icon-right:before {
  content: "\e90c"; }

.icon-down:before {
  content: "\e90d"; }

.icon-menu:before {
  content: "\e90e"; }

.icon-youtube:before {
  content: "\e90f"; }

select {
    font-size: 1.17em;
    width: 500px;
}

