<div class='member-form'>
  <div class='member-item'>
    <div class="container">
      <div class='row'>
        <div class="col-12">
          <span>ID: {{ member_id }}</span>
          <span>Name: <span class="current-user">{{ name }}</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class='member-item'>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img width=300 src="/signup/get_photo?member_id={{ member_id }}&tp=photo&seed={{ random_seed }}"/>
        </div>
        <div class="col-6">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <button onclick="take_picture({{ member_id }}, false)" class="btn btn-secondary" type="button">Take picture</button>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-6">
                <button onclick="daypass_toggle(this, {{ member_id }})" class="btn {{ btn_primary_if_day_visit }}" type="button">Day visit</button>
              </div>
              <div class="col-6">
                {{ daypass_timestamp }}
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-6">
                <button onclick="visit_toggle(this, {{ member_id }})" class="btn {{ btn_primary_if_member_visit }}" type="button">Member visit</button>
              </div>
              <div class="col-6">
                {{ entry_timestamp }}
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-12">
                <button onclick="assign_tag(this, {{ member_id }}, '{{ name }}', '{{ id_number }}')" class="btn btn-secondary" type="button">Assign tag</button>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-6">
                <button onclick="free_friend_toggle(this, {{ member_id }})" class="btn {{ btn_primary_if_free_friend }}" type="button">Free friend pass</button>
              </div>
              <div class="col-6">
                {{ free_friend_timestamp }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='member-item'>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img width=300 src="/signup/get_photo?member_id={{ member_id }}&tp=id_photo&seed={{ random_seed }}"/>
        </div>
        <div class="col-6">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <button onclick="take_picture({{ member_id }}, true)" class="btn btn-secondary" type="button">Take ID picture</button>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-12">
                Last updated: {{ last_id_update }}
              </div>
            </div>
            <div class="row maring-top">
              <div class="col-12">
                Last checked: {{ last_id_checked }}
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-12">
                Failed checks:
                {% for res in failed_checks %}
                   {{ res }},
                {% endfor %}
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-12">
                <button class="btn btn-secondary" type="button" onclick="checked_id(this, {{ member_id }})">Checked</button>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-12">
                <button class="btn btn-secondary" onclick="failed_to_check_id(this, {{ member_id }})" type="button">Failed to check</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='member-item'>
    <div class="container">
      <div class="row">
        <div class="col-6">
          Signed up: {{ start }}
        </div>
        <div class="col-3">
          Phone: {{ phone }}
        </div>
      </div>
    </div>
  </div>
  <div class='member-item'>
    <div class="container">
      {% if valid_token %}
      <div class="row">
        <div class="col-3">
          Membership type:
        </div>
        <div class="col-9">
          <button type="button"
          {% if member_type == null %}
             class="btn btn-primary"
          {% else %}
             class="btn btn-secondary"
          {% endif %} onclick='change_membership({{ member_id }}, "none")'> No membership</button>
          <button type='button' onclick='change_membership({{ member_id }}, "recurring")'
          {% if member_type == "recurring" %}
             class="btn btn-primary"
          {% else %}
             class="btn btn-secondary"
          {% endif %}>Recurring membership</button>
          <button type="button" onclick='change_membership({{ member_id }}, "ondemand")' 
          {% if member_type == "ondemand" %}
             class="btn btn-primary"
          {% else %}
             class="btn btn-secondary"
          {% endif %}>On demand membership</button>
          <button type="button" onclick='change_membership({{ member_id }}, "perpetual")'
          {% if member_type == "perpetual" %}
             class="btn btn-primary"
          {% else %}
             class="btn btn-secondary"
          {% endif %}>Perpetual membership</button>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-12">
          No valid token
        </div>
      </div>
      {% endif %}
    </div>
  </div>
      {% if member_type == null %}
  <div class='member-item'>
    <div class="container">
      <div class="row">
        <div class="col-12">
          No current membership
        </div>
      </div>
    </div>
  </div>
      {% elif member_type == "recurring" %}
  <div class='member-item'>
    <div class="container">
      <div class="row space-below">
        <div class="col-3">
        </div>
        <div class="col-6">
          {% if account_number == null %}
              <b>No bank account on file</b>
          {% else %}
              <b>Bank account known</b>
          {% endif %}
        </div>
      </div>
      <div class="row space-below">
        <div class="col-3">
        </div>
        <div class="col-3">
         <button type="button" id="initiate-payment-button" class="btn btn-block btn-success" onclick="initiate_ipad_transaction({{ member_id }}, '{{ name }}', '{{ phone }}', '{{ subscription_type }}', {{ price }}, {{ next_monday }})">Capture bank account details</button>
        </div>
        <div class="col-2">
          <button type="button" {{ disableifnobankdetails }} onclick="print_mandate(this, {{ member_id }}, '{{ subscription_type }}')" id="print-mandate-button" class="btn btn-block btn-success">Print mandate</button>
        </div>
        <div class="col-4">
          <button type="button" {{ disableifnobankdetails }} onclick="sign_mandate(this, {{ member_id }})" id="mark-mandate-signed" class="btn btn-block {{ btn_success_if_signed }}">{{ debit_order_signup_timestamp }} </button>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Membership type:</div>
        <div class="col-9">
          <div class="container">
            <div class="row">
              <div class="col-4 outline">
                  <div id="regular" onclick='change_subscription_type({{ member_id }}, "regular")' class="type-button btn btn-block btn-secondary">Regular (R{{ prices.regular }})</div>
              </div>
              <div class="col-4 outline">
                  <div id="youth" onclick='change_subscription_type({{ member_id }}, "youth")' class="type-button btn btn-block btn-secondary">Youth (R{{ prices.youth }})</div>
              </div>
              <div class="col-4 outline">
                  <div id="before4" onclick='change_subscription_type({{ member_id }}, "before4")' class="type-button btn btn-block btn-secondary">Before 4 (R{{ prices.before4 }})</div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 outline">
                  <div id="couple" onclick='change_subscription_type({{ member_id }}, "couple")' class="type-button btn btn-block btn-secondary">Couple (R{{ prices.couple }})</div>
              </div>
              <div class="col-4 outline">
                  <div id="yoga" onclick='change_subscription_type({{ member_id }}, "yoga")' class="type-button btn btn-block btn-secondary">Yoga (R{{ prices.yoga }})</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if credit_card_token != null %}
      <div class="row">
        <div class="col-3">
          Next charge:
        </div>
        <div class="col-9">
         {% if subscription_ends != null %}
         <span id="next-charge-price">{{ next_charge_price }}</span> at <span id="next-charge-date">{{ next_charge_date }}</span>
         {% else %}
         <span>Member not subscribed yet</span>
         {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
      {% if pause_starts != null %}
  <div class="member-item">
    <div class="container">
      <div class="row">
        <div class="col-3">
           Membership paused:
        </div>
        <div class="col-9">
          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          till
          <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      {% endif %}
  <div class="member-item">
    <div class="container">
      <div class="row">
        <div class="col-3">
          Charge day: {{ charge_day }}
        </div>
        <div class="col-3">
          First charge on credit card: {{ first_charge }}
        </div>
      </div>
    </div>
  </div>
  <div class="member-item">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <button disabled data-toggle="modal" data-target="#cancel-membership-modal" type="button" class="btn btn-info">Cancel membership</button>
          {% if pause_starts == null %}
          <button disabled onclick="pause_membership({{ member_id }})" type="button" class="btn btn-info">Pause membership - disabled, contact Maciek</button>
          {% else %}
          <button onclick="unpause_membership({{ member_id }})" type="button" class="btn btn-info">Unpause membership</button>
          {% endif %}
          <span class="alert alert-danger collapse" id="error-contents" role="alert"><span id="error-contents-inside">Some contents</span>&nbsp;&nbsp;<a href="#" onclick="$('#error-contents').hide(); return false;">&times;</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="member-item">
    <div class="container">
      <div class="row">
        <div class="col-3">Transaction history:</div>
        <div class="col-9">
          <div id="list-of-operations"></div>
        </div>
    </div>
  </div>
  {% elif member_type == "ondemand" %}
  <div class="member-item">
    <div class="container">
      <div class="row">
        <div class="col-3">Membership type:</div>
        <div class="col-9">
            <div class="row">
                <div class="col-4 outline">
                    <div id="regular" onclick='change_subscription_type({{ member_id }}, "regular")' class="type-button btn btn-block btn-secondary">Regular (R{{ prices.regular }})</div>
                </div>
                <div class="col-4 outline">
                    <div id="youth" onclick='change_subscription_type({{ member_id }}, "youth")' class="type-button btn btn-block btn-secondary">Youth (R{{ prices.youth }})</div>
                </div>
                <div class="col-4 outline">
                    <div id="before4" onclick='change_subscription_type({{ member_id }}, "before4")' class="type-button btn btn-block btn-secondary">Before 4 (R{{ prices.before4 }})</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 outline">
                    <div id="couple" onclick='change_subscription_type({{ member_id }}, "couple")' class="type-button btn btn-block btn-secondary">Couple (R{{ prices.couple }})</div>
                </div>
                <div class="col-4 outline">
                    <div id="yoga" onclick='change_subscription_type({{ member_id }}, "yoga")' class="type-button btn btn-block btn-secondary">Yoga (R{{ prices.yoga }})</div>
                </div>
            </div>
        </div>
      </div>
      {% if subscription_ends == null %}
      {% if last_subscr_ended != null %}
      <div class="row">
        <div class="col-12">
         Current subscription expired at {{ last_subscr_ended }}
       </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-12">
          <button id="add-one-month-button" onclick="add_one_month({{member_id}}, '{{ subscription_type }}')" type="button" class="btn btn-info">Add one month from last membership</button>
          <button id="add-one-month-from-now-button" onclick="add_one_month_from_now({{member_id}}, '{{ subscription_type }}')" type="button" class="btn btn-info">
            Add one month from now
          </button>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-3">
        Current subscription expires at
        </div>
        <div class="col-9">
            <div class="form-group">
                <div class='input-group date' id='memberexpiry'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button onclick="remove_membership({{ member_id }})" type="button" class="btn btn-info">Remove subscription</button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% elif member_type == "perpetual" %}
  <div class="member-item">
    <div class="container">
      Perpetual membership (routesetters etc.)
    </div>
  </div>
  {% else %}
  <div class="member-itm">
    <div class="container">
      error, unknown member type {{ member_type }}!
    </div>
  </div>
  {% endif %}
  <div class='member-item'>
    <div class="container">
      <div class="row">
        <div class="col-12">
          Extra notes: <pre>{{ extra_notes }}</pre>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="button" data-toggle="modal" data-target="#edit-notes-modal" class='btn btn-info'>Edit &gt;&gt;</button>
        </div>
      </div>
    </div>
  </div>
</div>
